<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/favicon/favicon.ico">


  <!-- Libs CSS -->
  <link href="../../assets/fonts/feather/feather.css" rel="stylesheet">
  <link href="../../assets/libs/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../../assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="../../assets/libs/dragula/dist/dragula.min.css" rel="stylesheet" />
  <link href="../../assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="../../assets/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
  <link href="../../assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />
  <link href="../../assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
  <link href="../../assets/libs/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
  <link href="../../assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
  <link href="../../assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
  <link href="../../assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link href="../../assets/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">


  <!-- Theme CSS -->
  <link rel="stylesheet" href="../../assets/css/theme.min.css">
  <title>Addon created</title>
</head>

<body class="bg-white">
<!-- Page Content -->
<div>
  <div class="container d-flex flex-column">
    <div class="row">
      <div class="offset-xl-1 col-xl-2 col-lg-12 col-md-12 col-12">
        <div class="mt-4">
          <a href="../../index.html"><img src="../../assets/images/brand/logo/logo.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center g-0 py-lg-22 py-10">
      <!-- Docs -->
      <div class="offset-xl-1 col-xl-4 col-lg-6 col-md-12 col-12 text-center text-lg-start">

        <p class="mb-5 lead">Addon is <b>created successfully</b>. After it is approved, it will be visible.<br/>
          You will be redirected to Home Page after seconds.</p>
        <p id="countdown">Remaining time:</p>
        <a href="#" th:href="@{/}" class="btn btn-primary me-2">Home</a>
      </div>
    </div>

    <!-- Footer -->
    <div th:replace="pages/footer-form.html :: footer">Footer</div>
  </div>
</div>

<!-- Scripts -->
<script>
  let count = 3;
  let countdown = setInterval(function() {
            console.log(count);
            $("#countdown").text(count + " seconds remaining!");
            if (count == 0) {
              clearInterval(countdown);
              window.open('/', "_self");
            }
            count--;
          },
          1000);
</script>
<!-- Libs JS -->
<script src="../../assets/libs/jquery/dist/jquery.min.js"></script>

</body>
</html>