<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Addonis is a student final graduation project of Telerik Academy- software bootcamp. Created by B. Benev and D. Planinski"/>

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="../assets/fonts/feather/feather.css" rel="stylesheet">
    <link href="../assets/libs/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="../assets/libs/dragula/dist/dragula.min.css" rel="stylesheet"/>
    <link href="../assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="../assets/libs/dropzone/dist/dropzone.css" rel="stylesheet"/>
    <link href="../assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet"/>
    <link href="../assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="../assets/libs/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <link href="../assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="../assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
    <link href="../assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="../assets/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="../assets/css/theme.min.css">
    <title>Addon single</title>
</head>

<body>
<!-- Page Content -->
<nav class="navbar navbar-expand-lg navbar-default">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="#" th:href="@{/}"
        ><img src="../assets/images/brand/logo/logo.svg" alt=""
        /></a>
        <!-- Mobile view nav wrap -->
        <ul
                class="navbar-nav navbar-right-wrap ms-auto d-lg-none d-flex nav-top-wrap"
        >
            <li class="dropdown stopevent">
                <a
                        class="btn btn-light btn-icon rounded-circle text-muted indicator indicator-primary"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                >
                    <i class="fe fe-bell"> </i>
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <div>

                        <ul class="list-group list-group-flush notification-list-scroll">
                            <li class="list-group-item bg-light">
                                <div class="row">
                                    <div class="col">
                                    </div>
                                    <div class="col-auto text-center me-2">
                                        <a
                                                href="#"
                                                class="badge-dot bg-info"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="Mark as read"
                                        >
                                        </a>
                                        <div>
                                            <a
                                                    href="#"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="top"

                                                    title="Remove"
                                            >
                                                <i class="fe fe-x text-muted"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="dropdown ms-2">
                <a
                        class="rounded-circle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                >
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <div class="dropdown-item">
                    </div>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li class="dropdown-submenu">
                            <a
                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                    href="#"
                            >
                                <i class="fe fe-circle me-2"></i>Status
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dropdown-item" href="/" th:href="@{/auth/logout}">
                                <i class="fe fe-power me-2"></i>Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- Button -->
        <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-default"
                aria-controls="navbar-default"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="icon-bar top-bar mt-0"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbar-default">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarBrowse"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-bs-display="static"
                    >
                        Browse
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-arrow"
                            aria-labelledby="navbarBrowse"
                    >
                        <li class="dropdown-submenu dropend">
                            <a
                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                    href="#"
                            >
                                Web Development
                            </a>

                            <ul class="dropdown-menu">
                                Under construction
                            </ul>
                        </li>
                        <li class="dropdown-submenu dropend">
                            <a
                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                    href="#"
                            >
                                Design
                            </a>
                            <ul class="dropdown-menu">
                                Under construction
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarLanding"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        Landings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarLanding">
                        <li>
                            <h4 class="dropdown-header">Under construction</h4>
                        </li>

                    </ul>
                </li>
                <li th:unless="${isAuthenticated}" class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarAccount"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        Accounts
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-arrow"
                            aria-labelledby="navbarAccount"
                    >
                        <li class="dropdown-submenu dropend">
                        </li>
                        <li>
                            <hr class="mx-3"/>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" th:href="@{/auth/login}">
                                Sign In
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" th:href="@{/auth/register}">
                                Sign Up
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right-wrap ms-auto d-none d-lg-block">
                <li class="dropdown d-inline-block stopevent"></li>

                <li th:if="${isAuthenticated}" class="dropdown ms-2 d-inline-block">
                    <a
                            class="rounded-circle"
                            href="#"
                            data-bs-toggle="dropdown"
                            data-bs-display="static"
                            aria-expanded="false"
                    >
                        <div class="avatar avatar-md avatar-indicators avatar-online">
                            <img
                                    alt="avatar"
                                    src="#"
                                    th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"

                                    class="rounded-circle"
                            />
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="dropdown-item">
                            <div class="d-flex">
                                <div class="avatar avatar-md avatar-indicators avatar-online">
                                    <img
                                            alt="avatar"
                                            src="#"
                                            th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"

                                            class="rounded-circle"
                                    />
                                </div>
                                <div class="ms-3 lh-1">
                                    <h5 class="mb-1" th:text="${loggedUser.username}">Your username</h5>
                                    <p class="mb-0 text-muted" th:text="${loggedUser.email}">Your email</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li class="dropdown-submenu dropstart-lg">
                                <a
                                        class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                        href="#"
                                >
                                    <i class="fe fe-circle me-2"></i>Status
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge-dot bg-success me-2"></span>Online
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge-dot bg-danger me-2"></span>Busy
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="#" th:href="@{/users/update-profile}"
                                >
                                    <i class="fe fe-user me-2"></i>Profile
                                </a>
                            </li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="#" th:href="@{/auth/logout}">
                                    <i class="fe fe-power me-2"></i>Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page header------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="pt-lg-8 pb-lg-16 pt-8 pb-12 bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-12">

                <div>
                    <div>
                        <img th:src="@{'/addons/image'(id=${addon.id})}" style="max-width: 200px; float: left"/>
                    </div>
                    <h1 style="margin-left: 15rem" class="text-white display-4 fw-semi-bold" th:text="${addon.name}">
                        Addon name</h1>
                    <span style="color: white; margin-left: 2rem" th:text="${addon.user.getUsername()}">Creator</span>
                    <br/>
                    <br/>
                    <span class="text-white mb-6 lead">
                        <br/>
                        <span style="color: white" th:text="${addon.ide.name}">IDE</span>
                    <div class="d-flex align-items-center">
<!--                        <span style="color: white">&darr; </span>-->
                        <span class="fe fe-download me-1"></span>
                        <span th:text="${addon.downloads}">Downloads</span>

                        <span class="ms-4">
                            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <i th:if="${i le addon.roundedRate}" class="mdi mdi-star me-n1 text-warning"></i>
                            </th:block>

                            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <i th:if="${i gt addon.roundedRate}" class="mdi mdi-star me-n1 text-light"></i>
                            </th:block>

                            <span th:text="${#numbers.formatDecimal(addon.rating,1,1)}"
                                  class="text-white">Addon rating</span>

                        </span>
                        <span class="text-white ms-4 d-none d-md-block">

                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#DBD8E9"></rect>
                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                        </span>

                <span class="align-middle">
                    <a href="#" th:href="@{'/addons/download'(id=${addon.id})}" class="btn btn-success ">Download</a>
                    <span th:if="${isAuthenticated}">
                        <a href="#" th:href="@{'/addons/rate'(id=${addon.id})}" class="btn btn-success ">Rate</a>
                    </span>
                    <span th:if="${isAuthenticated}">
                        <a href="#" th:href="@{'/addons/update'(id=${addon.id})}" class="btn btn-success ">Update</a>
                    <span th:if="${isAuthenticated}">
                    </span>
							<a href="#" class="btn btn-white"
                               th:href="@{'/addons/delete'(id=${addon.id})}">Delete</a></span>
                </span>
                    </div>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="pb-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12 mt-n8 mb-4 mb-lg-0">
                <!-- Card -->
                <div class="card rounded-3">
                    <!-- Card header -->
                    <div class="card-header border-bottom-0 p-0">
                        <div>
                            <!-- Nav -->
                            <ul class="nav nav-lb-tab" id="tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="table-tab" data-bs-toggle="pill" href="#table"
                                       role="tab" aria-controls="table" aria-selected="true">Description</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="tab-content" id="tabContent">
                            <div class="tab-pane fade show active" id="table" role="tabpanel"
                                 aria-labelledby="table-tab">
                                <!-- Card -->
                                <div th:text="${addon.description}">Addon description</div>
                            </div>
                            <div class="tab-pane fade" id="description" role="tabpanel"
                                 aria-labelledby="description-tab">
                                <!-- Description -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 mt-lg-n22">
                <!-- Card -->
                <div class="card mb-3 mb-4">
                    <div class="p-1">
                        <div class="d-flex justify-content-center position-relative rounded py-10 border-white border rounded-3 bg-cover"
                             style="background-image: url(../assets/images/course/course-javascript.jpg);">
                            <img th:src="@{'/addons/image'(id=${addon.id})}" style="max-width: 300px; float: left"/>
                            </a>
                        </div>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- Price single page -->
                        <div class="mb-3">
                        </div>
                        <div class="d-grid">
                            <span>
                                Tags
                                <br/>
                                <span>
                                       <b><span th:each="t : ${addonTags}"
                                                th:value="${t.id}"
                                                th:text="${t.name.toString() + '  '}" style="position: relative;
	background: #9fe7ee;
	border-radius: .5em;">
                                       </span></b>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Card -->
                <div class="card mb-4">
                    <div>
                        <!-- Card header -->
                        <div class="card-header">
                            <h4 class="mb-0">Addon details</h4>
                        </div>
                        <ul class="list-group list-group-flush" th:with="link=(${addon.originLocation.toString()})">
                            <li class="list-group-item bg-transparent"><i class="fab fa-github"></i>
                                <a style="color: #0a53be" th:href="@{${link}}">gitHubLink here</a>
                            </li>

                            <li class="list-group-item bg-transparent">
                                <i class="far fa-clock me-1"> </i>
                                <a style="color: #0a53be" th:href="@{${link} + '/commits'}"
                                   th:text="' Last commit on: '+${#dates.format(github.lastCommitDate, 'd MMM, yyyy')}"></a>
                            </li>
                            <li class="list-group-item bg-transparent">
                                <i class="fe fe-git-pull-request nav-icon"></i>
                                <a style="color: #0a53be" th:href="@{${link} + '/pulls'}"
                                   th:text="' Pull requests ' + ${github.pullRequests}"></a>
                            </li>
                            <li class="list-group-item bg-transparent">
                                <i class="fa fa-exclamation-circle nav-icon"></i>
                                <a style="color: #0a53be" th:href="@{${link} + '/issues'}"
                                   th:text="' Open issues ' + ${github.openIssues}"></a>
                            </li>


                        </ul>
                    </div>
                </div>
                <!-- Card -->
                <div class="card">
                </div>
            </div>
        </div>
        <!-- Card -->
        <div class="pt-12 pb-3">
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="/pages/footer-form.html :: footer">Footer</div>


<!-- Scripts -->
<!-- Libs JS -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/odometer/odometer.min.js"></script>
<script src="../assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="../assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="../assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/quill/dist/quill.min.js"></script>
<script src="../assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js"></script>
<script src="../assets/libs/dragula/dist/dragula.min.js"></script>
<script src="../assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="../assets/libs/jQuery.print/jQuery.print.js"></script>
<script src="../assets/libs/prismjs/prism.js"></script>
<script src="../assets/libs/prismjs/components/prism-scss.min.js"></script>
<script src="../assets/libs/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="../assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../assets/libs/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
<script src="../assets/libs/typed.js/lib/typed.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/maps/world.js"></script>
<script src="../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="../assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="../assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>


<!-- Theme JS -->
<script src="../assets/js/theme.min.js"></script>
</div></body>

</html>