<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Geeks is a fully responsive and yet modern premium bootstrap template. Geek is feature-rich components and beautifully designed pages that help you create the best possible website and web application projects."/>
    <meta name="keywords"
          content="Geeks UI, bootstrap, bootstrap 5, Course, Sass, landing, Marketing, admin themes, bootstrap admin, bootstrap dashboard, ui kit, web app, multipurpose"/>


    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="../assets/fonts/feather/feather.css" rel="stylesheet">
    <link href="../assets/libs/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="../assets/libs/dragula/dist/dragula.min.css" rel="stylesheet"/>
    <link href="../assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="../assets/libs/dropzone/dist/dropzone.css" rel="stylesheet"/>
    <link href="../assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet"/>
    <link href="../assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="../assets/libs/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <link href="../assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="../assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
    <link href="../assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="../assets/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="../assets/css/theme.min.css">
    <title>Profile Edit | Adonis - IDE extensions</title>
</head>

<body>
<!-- Page Content -->
<nav class="navbar navbar-expand-lg navbar-default">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="/" th:href="@{/}"
        ><img src="../assets/images/brand/logo/logo.svg" alt=""
        /></a>

        <!-- Button -->
        <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-default"
                aria-controls="navbar-default"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="icon-bar top-bar mt-0"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbar-default">
            <ul class="navbar-nav navbar-right-wrap ms-auto d-none d-lg-block">
                <li class="dropdown ms-2 d-inline-block">
                    <a
                            class="rounded-circle"
                            href="#"
                            data-bs-toggle="dropdown"
                            data-bs-display="static"
                            aria-expanded="false"
                    >
                        <div class="avatar avatar-md avatar-indicators avatar-online" th:unless="${user.isBlocked()}">
                            <img
                                    alt="avatar"
                                    src="#"
                                    th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                    class="rounded-circle"
                            />
                        </div>
                        <div class="avatar avatar-md avatar-indicators avatar-busy" th:if="${user.isBlocked()}">
                            <img
                                    alt="avatar"
                                    src="#"
                                    th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                    class="rounded-circle"
                            />
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="dropdown-item">
                            <div class="d-flex">
                                <div class="avatar avatar-md avatar-indicators avatar-online" th:unless="${user.isBlocked()}">
                                    <img
                                            alt="avatar"
                                            src="#"
                                            th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                            class="rounded-circle"
                                    />
                                </div>
                                <div class="avatar avatar-md avatar-indicators avatar-busy" th:if="${user.isBlocked()}">
                                    <img
                                            alt="avatar"
                                            src="#"
                                            th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                            class="rounded-circle"
                                    />
                                </div>
                                <div class="ms-3 lh-1">
                                    <h5 class="mb-1" th:text="'@'+${username}">Annette Black</h5>
                                    <p class="mb-0 text-muted" th:text="${email}">annette@geeksui.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="#"
                                        th:href="@{/users/update-profile}"
                                >
                                    <i class="fe fe-user me-2"></i>Profile
                                </a>
                            </li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="/" th:href="@{/auth/logout}">
                                    <i class="fe fe-power me-2"></i>Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="pt-5 pb-5">
    <div class="container">
        <!-- User info -->
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top-md" style="
								background: url(../assets/images/background/profile-bg.jpg) no-repeat;
								background-size: cover;
							"></div>
                <div
                        class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom-md shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img
                                    src="#"
                                    th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                    class="avatar-xl rounded-circle border border-4 border-white"
                                    alt=""/>
                        </div>

                        <div class="lh-1">
                            <h2 class="mb-0" th:text="${username}">
                                Stella Flores
                                <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-placement="top"
                                   title="Beginner">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                    </svg>
                                </a>
                            </h2>
                            <p class="mb-0 d-block" th:text="${email}">@stellaflores</p>
                        </div>
                    </div>
                    <div>
                        <a href="dashboard-student.html" th:href="@{/users/dashboard}" class="btn btn-outline-primary btn-sm d-none d-md-block">Go to
                            Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="row mt-0 mt-md-4">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                    <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                    <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light"
                            type="button"
                            data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                    <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="sidenav">
                        <div class="navbar-nav flex-column">
                            <!--								<span class="navbar-header">Subscription</span>-->
                            <!-- List -->
                            <!--								<ul class="list-unstyled ms-n2 mb-4">-->
                            <!--									&lt;!&ndash; Nav item &ndash;&gt;-->
                            <!--									<li class="nav-item">-->
                            <!--										<a class="nav-link" href="student-subscriptions.html"><i class="fe fe-calendar nav-icon"></i>My-->
                            <!--											Subscriptions</a>-->
                            <!--									</li>-->
                            <!--									&lt;!&ndash; Nav item &ndash;&gt;-->
                            <!--									<li class="nav-item">-->
                            <!--										<a class="nav-link" href="billing-info.html"><i class="fe fe-credit-card nav-icon"></i>Billing-->
                            <!--											Info</a>-->
                            <!--									</li>-->
                            <!--									&lt;!&ndash; Nav item &ndash;&gt;-->
                            <!--									<li class="nav-item">-->
                            <!--										<a class="nav-link" href="payment-method.html"><i class="fe fe-credit-card nav-icon"></i>Payment</a>-->
                            <!--									</li>-->
                            <!--									&lt;!&ndash; Nav item &ndash;&gt;-->
                            <!--									<li class="nav-item">-->
                            <!--										<a class="nav-link" href="invoice.html"><i class="fe fe-clipboard nav-icon"></i>Invoice</a>-->
                            <!--									</li>-->
                            <!--								</ul>-->
                            <span class="navbar-header">Account Settings</span>
                            <!-- List -->
                            <ul class="list-unstyled ms-n2 mb-0">
                                <!-- Nav item -->
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" th:href="@{/users/update-profile}"><i
                                            class="fe fe-settings nav-icon"></i>Edit Profile</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="#" th:href="@{/users/update-password}"><i
                                            class="fe fe-user nav-icon"></i>Security</a>
                                </li>
                                <!-- Nav item -->
                                <!--									<li class="nav-item">-->
                                <!--										<a class="nav-link" href="social-profile.html"><i class="fe fe-refresh-cw nav-icon"></i>Social-->
                                <!--											Profiles</a>-->
                                <!--									</li>-->
                                <!--									<li class="nav-item">-->
                                <!--										<a class="nav-link" href="notifications.html"><i class="fe fe-bell nav-icon"></i>Notifications</a>-->
                                <!--									</li>-->
                                <!-- Nav item -->
                                <!--									<li class="nav-item">-->
                                <!--										<a class="nav-link" href="profile-privacy.html"><i class="fe fe-lock nav-icon"></i>Profile-->
                                <!--											Privacy</a>-->
                                <!--									</li>-->
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="delete-profile.html"><i class="fe fe-trash nav-icon"></i>Delete
                                        Profile</a>
                                </li>
                                <!-- Nav item -->
                                <!--										<li class="nav-item">-->
                                <!--											<a class="nav-link " href="linked-accounts.html"><i class="fe fe-user nav-icon"></i>Linked Accounts</a>-->
                                <!--										</li>-->
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/" th:href="@{/auth/logout}"><i
                                            class="fe fe-power nav-icon"></i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">Profile Details</h3>
                        <p class="mb-0">
                            You have full control to manage your own account setting.
                        </p>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <form th:action="@{/users/update-profile/photo}" method="post" enctype="multipart/form-data">

                            <!-- second test -->
                            <div class="mb-3">
                                <p class="mb-1 text-dark">Photo</p>
                                <div class="input-group mb-1">
                                    <input type="file" th:name="image" class="form-control" id="inputLogo">
                                    <!--                                    <label class="input-group-text" for="inputLogo">Upload</label>-->
                                </div>
                                <small class="text-muted">(Upload your photo)</small>

                            </div>
                            <!-- end second test -->
                            <div class="d-lg-flex align-items-center justify-content-between">
                                <!--                            <div class="d-flex align-items-center mb-4 mb-lg-0">-->
                                <!--                                <img src="../assets/images/avatar/avatar-3.jpg" id="img-uploaded"-->
                                <!--                                     class="avatar-xl rounded-circle" alt=""/>-->
                                <!--                                <div class="ms-3">-->
                                <!--                                    <h4 class="mb-0">Your avatar</h4>-->
                                <!--                                    <p class="mb-0">-->
                                <!--                                        PNG or JPG no bigger than 800px wide and tall.-->
                                <!--                                    </p>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                                <!--                                <div>-->
                                <!--                                    <a href="#" class="btn btn-outline-white btn-sm">Update Image</a>-->
                                <!--                                    &lt;!&ndash;                                <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>&ndash;&gt;-->
                                <!--                                </div>-->
                                <button class="btn btn-primary" type="submit" value="Save">
                                    Upload Photo
                                </button>
                            </div>
                        </form>

                        <hr class="my-5"/>
                        <div>
                            <h4 class="mb-0">Personal Details</h4>
                            <p class="mb-4">
                                Edit your personal information and address.
                            </p>
                            <!-- Form -->
                            <form class="row" th:object="${user1}" method="post"
                                  th:action="@{__${#httpServletRequest.requestURI}__}">
                                <!-- First name -->
                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label" for="fname">Email</label>
                                    <input th:field="*{email}" type="text" id="fname" class="form-control"
                                           placeholder="Email" required/>
                                    <label style="color: red" th:errors="*{email}">Email error placeholder</label>
                                </div>
                                <!-- Last name -->
                                <!--									<div class="mb-3 col-12 col-md-6">-->
                                <!--										<label class="form-label" for="lname">Last Name</label>-->
                                <!--										<input type="text" id="lname" class="form-control" placeholder="Last Name" required />-->
                                <!--									</div>-->
                                <!-- Phone -->
                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label" for="phone">Phone</label>
                                    <input th:field="*{phone}" type="text" id="phone" class="form-control"
                                           placeholder="Phone" required/>
                                    <label style="color: red" th:errors="*{phone}">Phone error placeholder</label>
                                </div>
                                <!-- Birthday -->
                                <!--									<div class="mb-3 col-12 col-md-6">-->
                                <!--										<label class="form-label" for="birth">Birthday</label>-->
                                <!--										<input class="form-control flatpickr" type="text" placeholder="Birth of Date" id="birth"-->
                                <!--											name="birth" />-->
                                <!--									</div>-->
                                <!-- Address -->
                                <!--									<div class="mb-3 col-12 col-md-6">-->
                                <!--										<label class="form-label" for="address">Address Line 1</label>-->
                                <!--										<input type="text" id="address" class="form-control" placeholder="Address" required />-->
                                <!--									</div>-->
                                <!-- Address -->
                                <!--									<div class="mb-3 col-12 col-md-6">-->
                                <!--										<label class="form-label" for="address2">Address Line 2</label>-->
                                <!--										<input type="text" id="address2" class="form-control" placeholder="Address" required />-->
                                <!--									</div>-->
                                <!-- State -->
                                <!--									<div class="mb-3 col-12 col-md-6">-->
                                <!--										<label class="form-label">State</label>-->
                                <!--										<select class="selectpicker" data-width="100%">-->
                                <!--											<option value="">Select State</option>-->
                                <!--											<option value="1">Gujarat</option>-->
                                <!--											<option value="2">Rajasthan</option>-->
                                <!--											<option value="3">Maharashtra</option>-->
                                <!--										</select>-->
                                <!--									</div>-->
                                <!-- Country -->
                                <!--									<div class="mb-3 col-12 col-md-6">-->
                                <!--										<label class="form-label">Country</label>-->
                                <!--										<select class="selectpicker" data-width="100%">-->
                                <!--											<option value="">Select Country</option>-->
                                <!--											<option value="1">India</option>-->
                                <!--											<option value="2">UK</option>-->
                                <!--											<option value="3">USA</option>-->
                                <!--										</select>-->
                                <!--									</div>-->
                                <div class="col-12">
                                    <!-- Button -->
                                    <button class="btn btn-primary" type="submit" value="Save">
                                        Update Profile
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row align-items-center g-0 border-top py-2">
            <!-- Desc -->
            <div class="col-md-6 col-12 text-center text-md-start">
                <span>© 2021 Benev and Planinski. All Rights Reserved.</span>
            </div>
            <!-- Links -->
            <!--            <div class="col-12 col-md-6">-->
            <!--                <nav class="nav nav-footer justify-content-center justify-content-md-end">-->
            <!--                    <a class="nav-link active ps-0" href="#">Privacy</a>-->
            <!--                    <a class="nav-link" href="#">Terms </a>-->
            <!--                    <a class="nav-link" href="#">Feedback</a>-->
            <!--                    <a class="nav-link" href="#">Support</a>-->
            <!--                </nav>-->
            <!--            </div>-->
        </div>
    </div>
</div>


<!-- Scripts -->
<!-- Libs JS -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/odometer/odometer.min.js"></script>
<script src="../assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="../assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="../assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/quill/dist/quill.min.js"></script>
<script src="../assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js"></script>
<script src="../assets/libs/dragula/dist/dragula.min.js"></script>
<script src="../assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="../assets/libs/jQuery.print/jQuery.print.js"></script>
<script src="../assets/libs/prismjs/prism.js"></script>
<script src="../assets/libs/prismjs/components/prism-scss.min.js"></script>
<script src="../assets/libs/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="../assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../assets/libs/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
<script src="../assets/libs/typed.js/lib/typed.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/maps/world.js"></script>
<script src="../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="../assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="../assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="../assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js"></script>


<!-- Theme JS -->
<script src="../assets/js/theme.min.js"></script>

</body>

</html>