<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Addonis is a student final graduation project of Telerik Academy- software bootcamp. Created by B. Benev and D. Planinski"/>

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="../assets/fonts/feather/feather.css" rel="stylesheet">
    <link href="../assets/libs/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="../assets/libs/dragula/dist/dragula.min.css" rel="stylesheet"/>
    <link href="../assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="../assets/libs/dropzone/dist/dropzone.css" rel="stylesheet"/>
    <link href="../assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet"/>
    <link href="../assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="../assets/libs/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <link href="../assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="../assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
    <link href="../assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="../assets/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="../assets/css/theme.min.css">
    <title>Update Addon</title>
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-default">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="#" th:href="@{/}"
        ><img src="../assets/images/brand/logo/logo.svg" alt=""
        /></a>
        <!-- Mobile view nav wrap -->
        <ul
                class="navbar-nav navbar-right-wrap ms-auto d-lg-none d-flex nav-top-wrap"
        >
            <li class="dropdown stopevent">
                <a
                        class="btn btn-light btn-icon rounded-circle text-muted indicator indicator-primary"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                >
                    <i class="fe fe-bell"> </i>
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <div>

                        <ul class="list-group list-group-flush notification-list-scroll">
                            <li class="list-group-item bg-light">
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="text-body">
                                            <div class="d-flex">
                                                <img
                                                        src="../assets/images/avatar/avatar-1.jpg"
                                                        alt=""
                                                        class="avatar-md rounded-circle"
                                                />
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-auto text-center me-2">
                                        <a
                                                href="#"
                                                class="badge-dot bg-info"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="Mark as read"
                                        >
                                        </a>
                                        <div>
                                            <a
                                                    href="#"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="top"

                                                    title="Remove"
                                            >
                                                <i class="fe fe-x text-muted"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="dropdown ms-2">
                <a
                        class="rounded-circle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                >
                    <div class="avatar avatar-md avatar-indicators avatar-online">
                        <img
                                alt="avatar"
                                src="../assets/images/avatar/avatar-1.jpg"
                                class="rounded-circle"
                        />
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <div class="dropdown-item">
                    </div>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li class="dropdown-submenu">
                            <a
                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                    href="#"
                            >
                                <i class="fe fe-circle me-2"></i>Status
                            </a>
                        </li>

                        <li>
                            <a
                                    class="dropdown-item"
                                    href="#" th:href="@{/users/update-profile}"
                            >
                                <i class="fe fe-user me-2"></i>Profile
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dropdown-item" href="/" th:href="@{/auth/logout}">
                                <i class="fe fe-power me-2"></i>Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- Button -->
        <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-default"
                aria-controls="navbar-default"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="icon-bar top-bar mt-0"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbar-default">
            <ul class="navbar-nav navbar-right-wrap ms-auto d-none d-lg-block">
                <li class="dropdown ms-2 d-inline-block">
                    <a
                            class="rounded-circle"
                            href="#"
                            data-bs-toggle="dropdown"
                            data-bs-display="static"
                            aria-expanded="false"
                    >
                        <div class="avatar avatar-md avatar-indicators avatar-online">
                            <img
                                    alt="avatar"
                                    src="#"
                                    th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"

                                    class="rounded-circle"
                            />
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="dropdown-item">
                            <div class="d-flex">
                                <div class="avatar avatar-md avatar-indicators avatar-online">
                                    <img
                                            alt="avatar"
                                            src="#"
                                            th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"

                                            class="rounded-circle"
                                    />
                                </div>
                                <div class="ms-3 lh-1">
                                    <h5 class="mb-1" th:text="${addon.user.username}">Your name</h5>
                                    <p class="mb-0 text-muted" th:text="${addon.user.email}">Your email</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li class="dropdown-submenu dropstart-lg">
                                <a
                                        class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                        href="#"
                                >
                                    <i class="fe fe-circle me-2"></i>Status
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge-dot bg-success me-2"></span>Online
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge-dot bg-danger me-2"></span>Busy
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="#" th:href="@{/users/update-profile}"
                                >
                                    <i class="fe fe-user me-2"></i>Profile
                                </a>
                            </li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="#" th:href="@{/auth/logout}">
                                    <i class="fe fe-power me-2"></i>Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page header--------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="py-4 py-lg-6 bg-primary">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
                <div class="d-lg-flex align-items-center justify-content-between">
                    <!-- Content -->
                    <div class="mb-4 mb-lg-0">
                        <h1 class="text-white mb-1">Update form</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Content -->
<div class="pb-12">
    <div class="container">
        <div id="courseForm" class="bs-stepper">
            <div class="row">
                <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
                    <!-- Stepper Button -->
                    <div class="bs-stepper-header shadow-sm" role="tablist">
                        <div class="step" data-target="#test-l-1">
                            <button type="button" class="step-trigger" role="tab" id="courseFormtrigger1"
                                    aria-controls="test-l-1">
                            </button>
                        </div>
                        <div class="bs-stepper-content mt-5">
                            <form th:action="@{'/addons/update/' (id=${addon.id})}" th:object="${addon}" method="post" action="/spring-mvc-xml/uploadFile"
                                  enctype="multipart/form-data">
                                <div id="test-l-1" role="tabpanel" class="bs-stepper-pane fade"
                                     aria-labelledby="courseFormtrigger1">
                                    <!-- Card -->
                                    <div class="card mb-3 ">
                                        <div class="card-header border-bottom px-4 py-3">
                                            <h4 class="mb-0">Addon Information</h4>
                                            <p>All fields marked with * are required</p>
                                        </div>
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label class="form-label" ><i>Addon Name *</i></label>
                                                <input th:field="*{name}" class="form-control" type="text"
                                                       placeholder="Addon Name" minlength="3" maxlength="30" th:required="required"/>
                                                <small>Current addon's name. </small>
                                                <small>Between 3 and 30 characters long</small>
                                            </div>
                                            <!--                                            <br/>-->
                                            <div class="mb-3">
                                                <label class="form-label"><i>Description *</i></label>
                                                <textarea th:field="*{description}" class="form-control"
                                                          placeholder="Enter some text about addon..." rows="3" minlength="50"
                                                          th:required="required"></textarea>
                                                <small>Write your addon's description. At least 50 characters.</small>
                                            </div>
                                            <!--                                            <br/>-->
                                            <div class="mb-3">
                                                <label class="form-label"><i>Addon Link *</i></label>
                                                <input th:field="*{originLocation}" class="form-control" type="text"
                                                       placeholder="Addon link" th:required="required"/>
                                                <small>Current addon's link</small>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label"><i>Content</i></label><br/>
                                                <input type="file" th:name="content_file" accept="*/*" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input class="btn btn-primary btn-sm d-none d-md-block" type="submit" value="Submit"
                                       style="margin-left: 2rem;">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="pages/footer-form.html :: footer">Footer</div>


<!-- Scripts -->
<!-- Libs JS -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/odometer/odometer.min.js"></script>
<script src="../assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="../assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="../assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/quill/dist/quill.min.js"></script>
<script src="../assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js"></script>
<script src="../assets/libs/dragula/dist/dragula.min.js"></script>
<script src="../assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="../assets/libs/jQuery.print/jQuery.print.js"></script>
<script src="../assets/libs/prismjs/prism.js"></script>
<script src="../assets/libs/prismjs/components/prism-scss.min.js"></script>
<script src="../assets/libs/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="../assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../assets/libs/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
<script src="../assets/libs/typed.js/lib/typed.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/maps/world.js"></script>
<script src="../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="../assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="../assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

<!-- Theme JS -->
<script src="../assets/js/theme.min.js"></script>
</body>

</html>